@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@300;500;800&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48,
}

.material-symbols-outlined {
    color: white;
}

.btn {
    font-size: 0.5rem;
}

/* 
html {
    display: flex;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*small screens only*/
@media only screen and (max-width: 480px) {
    .navbar-brand img {
        width: 3em !important;
    }

    .nav-search {
        font-family: cairo play;
        margin-right: 1em !important;
        margin-top: 1em !important;
    }

    #google_element {
        margin-left: 1em !important;
        margin-top: 4em !important;
        position: relative;
        width: 1vw !important;
    }

    select {
        width: 5vw;
    }

    .navbar-brand {
        margin-left: 0rem !important;
    }

    /* .goog-logo-link {
        display: none;
    } */
}

/* navbar */
.navbar-brand {
    display: block;
    position: relative;
    margin-left: 2rem;
}

.navbar-brand img {
    width: 5vw;
}

.nav-search {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 15vw;
    position: absolute;
    margin-right: 2em;
    margin-top: 3.5em;
}

.nav-search button {
    border-color: white;
    color: white;
    --bs-btn-hover-bg: rgb(181, 14, 14);
    --bs-btn-hover-border-color: rgb(0, 0, 0);
}

.navbar {
    position: absolute;
    width: 100vw;
}

.nav-link {
    color: white;
}

.bg-light {
    --bs-bg-opacity: 0;
}

button.navbar-toggler.collapsed {
    /* color: white; */
}

.navbar-toggler {
    background-color: white;
}

#navbarSupportedContent>form>button {
    border: 1px solid white;
}

#navbarSupportedContent>form>button:hover {
    background-color: #080405;
    border: 1px solid bisque;
}

.form-control {
    background-color: white;
}

.btn .material-symbols-outlined {
    color: bisque;
}

/* translation */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-simple img,
img.goog-te-gadget-icon,
.goog-te-menu-value span,
.goog-text-highlight {
    display: none !important;
}

.goog-te-menu-frame,
.goog-te-balloon-frame {
    box-shadow: none !important;
}


.goog-te-gadget-simple {
    color: #fcf8e3;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 5px;
    /* box-shadow: 0 2px 10px -7px rgba(255, 255, 255, 0.2); */
}

.goog-te-gadget-simple:before {
    font-family: FontAwesome;
    content: "\f1ab";
    font-size: 2.5rem;
    line-height: 2.8rem;
}

#btn {
    margin: 0;
    padding: 0;
    background-color: #080405;
    /* z-index: -1; */
    border: none;
    font-size: 1rem;
    line-height: 0;
    color: #fcf8e3;
}

/* end of navbar */

body {
    background-color: #080405;
    overflow-x: hidden;
    top: 0 !important;
}

.bg-img {
    display: block;
    width: 90vw;
}

.bg-img-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.card-link {
    position: relative;
}

.card-link a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.card-img {
    border-radius: 10%;
}

.card {
    font-family: cairo play;
    border-radius: 10%;
}

.col {
    transition: all 0.2s ease-in-out;
}

.col:hover {
    transform: scale(1.05);
}

h1 {
    font-family: cairo play;
    font-size: 2em;
    color: bisque;
}

h2 {
    font-family: cairo play;
    font-size: 1em;
    color: bisque;
}

h3 {
    font-family: cairo play;
    font-size: 1em;
    color: bisque;
}

p {
    font-family: cairo play;
}




/*  * w: http://animista.net, t: @cssanimista */
.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-5 13:51:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.flicker-in-2 {
    -webkit-animation: flicker-in-2 2s linear both;
    animation: flicker-in-2 2s linear both;
}

.alert-message.warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert-message {
    position: relative;
    display: block;
    padding: 1rem;
    margin: 4rem 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid;
    width: 60%;
}
hr {
    color: white;
    width: 80%;
}

footer {
    /* background-color: #1f1f1f; */
}